.paris { background: url('../img/paris.jpg'); height: 120px; }
.londres { background: url('../img/londres.jpg'); height: 120px; }
.berlin { background: url('../img/berlin.jpg'); height: 120px; }
.rome { background: url('../img/rome.jpg'); height: 120px; }
.prague { background: url('../img/prague.jpg'); height: 120px; }
.madrid { background: url('../img/madrid.jpg'); height: 120px; }
.athenes { background: url('../img/athenes.jpg'); height: 120px; }
.lisbonne { background: url('../img/lisbonne.jpg'); height: 120px; }