// Variable
$medium: 768px;
$small: 480;

$red:#e74c3c;

@font-face {
    font-family: myFirstFont;
    src: url("../font/luna.ttf");
}

header {
  h1{
    font-family: "myFirstFont", Times, serif;
  }
  background-color: #4990e2;
  @media screen and (max-width: $medium) {
    text-align: center;
    input.search{
      display: none;
    }
  }
  .filter{
    background-color: #4481c9;
    margin: 30px 0 30px 0;
    padding-left: 30px;
  }
}

main{
  @media screen and (max-width: $medium) {
    text-align: center;
  }
}

.heart{
  color: $red;
}

section {.wrapper{
  margin: 15px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.4);
  :first-child{
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  h1{
    color: white;
    margin: 0;
  }}
  footer{
    padding: 10px
  }
}
